
.block_3__info{
    display: flex;
    justify-content: space-between;
    padding-top: 50px;
    text-transform: uppercase;
}

.block_3__learnMore{
    display: flex;
    gap: 5px;
    font-size: 20px;
    align-items: center;
    font-family: "Roboto", sans-serif;
    font-weight: 500;
}

.block_3__learnMore a{
    text-decoration: none;
    color: #343434;
}
.block_3__learnMore img{
    width: 40px;
    height: 40px;
}

.block_3__info h2{
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    color: #003366;
    font-size: 42px;
    margin-bottom: 20px;
}

.block_3__container{
    display: flex;
}

.block_3__img{
    width: 675px;
    height: 575px;
    border-radius: 14px;
}

.block_3__textInfo{
    color: #FBFBFB;
    border-radius: 14px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.block_3__bigTextInfo{
    background-color: #003366;
    width: 660px;
    height: 333px;
    border-radius: 14px;
}

.block_3__textInfo h3{
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-size: 42px;
    margin-left: 34px;
    margin-bottom: 21px;
}

.block_3__textInfo p{
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    margin-left: 34px;
}

.block_3_containerTextRating{
    display: flex;
    gap: 24px;
}

.block_3__textInfoRating{
    width: 317px;
    height: 211px;
    background-color: #003366;
    border-radius: 14px;
    text-align: center;
}

.block_3__textInfoRating h2{
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-size: 42px;
    line-height: 63px;
    margin: 0 auto;
    margin-top: 34px;
}

.block_3__textInfoRating p{
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-size: 18px;
    line-height: 27px;
    margin: 0 auto;

}